@page "/character/{Name}"

@using Npc
@using Npc.Attributes
@inject IPersistence Persistence

<h1>@Name</h1>

<!-- TODO Put two columns here, the current character sheet on the right and the
build on the left; or stack them with the build above on small devices :) -->

<CharacterSheetView Sheet=@GetSheet() />

@code {
    [Parameter]
    public string Name { get; set; }

    private BuildOutput BuildOutput { get; set; }

    protected override void OnInitialized()
    {
        BuildOutput = Persistence.Get(Name);
    }

    private IEnumerable<CharacterSubHeading> GetSheet() => CharacterSheet.create(BuildOutput.Character);
}