@page "/characterlist"

@using Npc
@using Npc.Attributes
@using npcblas.Models
@inject IPersistence Persistence
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h2>New character</h2>

            <EditForm Model=@NewCharacterModel OnValidSubmit="OnValidSubmit">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input @bind-value=@NewCharacterModel.Name class="form-control" id="name">
                    <label for="level">Level</label>
                    <input @bind-value=@NewCharacterModel.Level class="form-control" id="level">
                </div>
                <input class="btn btn-primary" type="submit" value="Create"/>
            </EditForm>
        </div>
        <div class="col col-md-6">
            <h2>My characters</h2>

            <ul class="list-group">
                @foreach (var c in Characters)
                {
                    <a href=@GetLink(c) class="list-group-item">@c</a>
                }
            </ul>
        </div>
    </div>
</div>

@code {
    private IEnumerable<string> Characters;
    private NewCharacterModel NewCharacterModel = new NewCharacterModel();

    protected override async Task OnInitializedAsync()
    {
        Characters = await Persistence.GetAllAsync();
    }

    private string GetLink(string name) => $"/character/{name}";

    private async Task OnValidSubmit()
    {
        await Persistence.AddAsync(NewCharacterModel.Name, NewCharacterModel.Level);
        NavigationManager.NavigateTo($"character/{WebUtility.UrlEncode(NewCharacterModel.Name)}");
    }
}