@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ICharacterBuildService BuildService

<table class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <SortableColumnHeading PropertyName=@NameColumn
                                   DefaultOrder=@Order.Ascending
                                   CurrentOrder=@GetColumnOrder(NameColumn)
                                   OnChanged=@OnSortOrderChanged>Name</SortableColumnHeading>
            <SortableColumnHeading PropertyName=@LevelColumn
                                   DefaultOrder=@Order.Ascending
                                   CurrentOrder=@GetColumnOrder(LevelColumn)
                                   OnChanged=@OnSortOrderChanged>Level</SortableColumnHeading>
            <th scope="col">Summary</th>
            <SortableColumnHeading PropertyName=@CreationDateColumn
                                   DefaultOrder=@Order.Descending
                                   CurrentOrder=@GetColumnOrder(CreationDateColumn)
                                   OnChanged=@OnSortOrderChanged>Created on</SortableColumnHeading>
            @if (ShowPublic)
            {
                <SortableColumnHeading PropertyName=@HandleColumn
                                       DefaultOrder=@Order.Ascending
                                       CurrentOrder=@GetColumnOrder(HandleColumn)
                                       OnChanged=@OnSortOrderChanged>User</SortableColumnHeading>
            }
            else
            {
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Characters != null)
        {
            @foreach (var c in Characters)
            {
                <CharacterSummaryRow Build=@c ShowPublic=@ShowPublic OnRemove=@OnRemove />
            }
        }
    </tbody>
</table>

@code {
    private const string NameColumn = "name";
    private const string LevelColumn = "level";
    private const string CreationDateColumn = "creationDate";
    private const string HandleColumn = "handle";

    [Parameter]
    public bool ShowPublic { get; set; }

    private List<CharacterBuildSummary> Characters { get; set; }

    private string SortProperty { get; set; } = CreationDateColumn;

    private Order SortOrder { get; set; } = Order.Descending;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Characters = ShowPublic ? await BuildService.GetPublicAsync() :
            await BuildService.GetAllAsync(authState.User);
        Characters.Sort(Compare);
    }

    private Order? GetColumnOrder(string name) => name == SortProperty ? (Order?)SortOrder : null;

    private void OnSortOrderChanged((string name, Order order) x)
    {
        (SortProperty, SortOrder) = x;
        Characters.Sort(Compare);
    }

    private int CompareByProperty(CharacterBuildSummary a, CharacterBuildSummary b) => SortProperty switch
    {
        NameColumn => a.Build.Name.CompareTo(b.Build.Name),
        LevelColumn => a.Build.Level.CompareTo(b.Build.Level),
        CreationDateColumn => a.Build.CreationDateTime.CompareTo(b.Build.CreationDateTime),
        _ => a.Handle.CompareTo(b.Handle)
    };

    private int Compare(CharacterBuildSummary a, CharacterBuildSummary b)
    {
        var comparison = CompareByProperty(a, b);
        return SortOrder == Order.Descending ? -comparison : comparison;
    }

    private async Task OnRemove(CharacterBuildSummary build)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (await BuildService.RemoveAsync(authState.User, build.Build.Id))
        {
            Characters.Remove(build);
        }
    }
}
