@using Npc
@using Npc.Attributes

<table class="table table-condensed table-striped">
    <tbody>
        @foreach (var subHeading in Sheet)
        {
            @if (!string.IsNullOrWhiteSpace(subHeading.Title))
            {
                <tr>
                    <td aria-colspan="2"><strong>@subHeading.Title</strong></td>
                </tr>
            }

            @foreach (var (name, value) in subHeading.Items)
            {
                <tr>
                    <td class="text-right">@name</td>
                    <td>@value</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<CharacterSubHeading> Sheet { get; set; }
}