@using Npc

<a href="#" class="list-group-item"
   @onclick="OnClick"
   @onclick:preventDefault>@Choice</a>

@code {
    [Parameter]
    public string Choice { get; set; } 

    [Parameter]
    public EventCallback<string> OnChosen { get; set; }

    private void OnClick() => OnChosen.InvokeAsync(Choice);
}