@inject IFileStorageService FileStorageService

<table class="table table-condensed table-striped">
    <tbody>
        @foreach (var f in Files)
        {
            <tr>
                <td>@f.Name</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<StoredFile> Files = new List<StoredFile>();

    protected override async Task OnInitializedAsync()
    {
        Files.AddRange(await FileStorageService.GetFilesAsync());
    }
}